@model SeriesDB.Models.SessionModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserSection</title>
</head>
<body>
    <div style="width: 100%; height: 100px; background-color: lightyellow;">
    </div>
    <div style="width: 100%; height: 315px;">
        <h4>
            @Html.DisplayFor(a => a.Session_Val)
        </h4>
    </div>
    <div style="width: 100%; height: 200px; background-color: lightyellow;">
    </div>
</body>
</html>